.con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-con {
  display: flex;
  align-items: center;
  width: 100%;
}

.fir-con {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://img.freepik.com/free-photo/beautiful-archway-decorated-with-floral-composition-outdoors_8353-10972.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1707609600&semt=ais");
  height: 100vh;
  background-size: cover;
  width: 50vw;
}

.sec-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  border: 1px solid #202020;
  width: 100vh;
  height: 50vh;
}

#text-con {
  width: 300px;
  border: 1px solid red;
}
